#job-title{
    font-size: 1.6rem;
    text-decoration: 0.4px solid underline;

}
#breifDescription{

    max-width: 20rem;
    line-height: 1.5;

}

.detailDescription
{
    flex-basis: 50%;
    font-size: 2rem;
    
}

.name-JobTitle
{
    flex-basis: 50%;
    min-width: max-content;
}
#name{
    color:rgb(255 255 255);
}

.col-grid{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(8,minmax(0,1fr));
    margin-top: 20%;
}

.flex-list{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.flex-wrap{
    flex-wrap: wrap;
}



.experienceDate{
    text-align: justify;
    grid-column: span 2/span 2;
   
}
.experienceDescriptionAndTitle
{
    text-align: justify;
    flex-basis: 50%;
    grid-column: span 6/span 6;
   
}


.relative{
    position: absolute;
}

.profile-image-div{
    width: 236px;
    height: 236px;
    margin-bottom: 3rem;
}
.profile-image{
    max-height:223px;
    width: 50%;
    height: 33%;
    
}
.box-shadow{
    position: absolute;
    z-index: 1;

}

.profile-image-div::after{
    content: "";
    border: 2px solid rgb(94 234 212);
    width: 50%;
    height: 32%;
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
    z-index: 0;

}


/* Media queries for responsive design */

@media (max-width: 42rem)
{
    .focus{
        display: none;
    }

    .profile-image-div{
        width: 11.5rem;
        height: 11.5rem;
        margin-top:2.5rem;
        min-width: 11.5rem;
        min-height: 11.5rem;
       
    }

    .profile-image-div::after{
        width: 30%;
        height: 32%;
        min-height: inherit;
        min-width: inherit;
    
    }

    .profile-image{
        max-width: 30%;
        max-height: 30%;
        min-width: inherit;
        min-height: inherit;
       
    }


    
    #breifDescription{
        line-height: 1.5;
        margin-top: 2rem;
    }

    .name-JobTitle
    {
        margin: 0 0.5rem;
    }

    .col-grid{
        display: block;
    }
    .experienceDate{
        margin-bottom: 0.65rem;
    }
    .experienceDescriptionAndTitle{
        text-align: left;
    }

   
}
    

    
