*{
    background-color: rgb(15, 23, 42);
    margin: 0;
    padding: 0;
    color: #94a3b8;
    font-size: 16px;
}

h1{
    font-size: 3rem;
}

.p-white-color
{
    color: rgb(255, 255, 255);
}

.margin-top{
    margin-top: 0.75rem;
}

.container{
    margin: 8% 9%;
    text-align: center;
}
.main{
    display: flex;
    padding: 1rem;
    text-align: justify;
    justify-content: flex-start;
}

.mainNav{
    position: fixed;
    display: block;
    padding: 1rem;
    text-align: justify;
}

.mainNav a{
    padding: 0.5rem;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.hide-list-bullet-points{
    list-style: none;
}
#tools-ul-lists-style > li
{
    color:rgb(94 234 212);
    background-color:rgba(94, 234, 212, 0.2);
    border-radius: 1rem;
    padding: 0.55rem;
}
