#hi{
    color:rgb(94 234 212);
    animation: scale-in-from-Y 1s ease-in-out;
}
.name-JobTitle
{
    flex-basis: 50%;
    min-width: max-content;
}
#name{
    color:rgb(255 255 255);
    opacity: 0;
    animation: scale-in 2s ease-in 1s forwards;
}
#job-title{
    font-size: 1.6rem;
    text-decoration: 0.4px solid underline;
    opacity: 0;
    animation: fade-in 1s ease-in 3s forwards;
}

#breifDescription{
    max-width: 20rem;
    line-height: 1.5;
    opacity: 0;
    animation: scale-in-from-Y 1s 4s ease-in-out forwards;

}
.profile-image-div{
    width: 236px;
    height: 236px;
    margin-bottom: 3rem;
    opacity: 0;
    animation: fade-in 6s 4s ease-in-out forwards;
}
.profile-image{
    max-height:223px;
    width: 50%;
    height: 33%;
    
}
.box-shadow{
    position: absolute;
    z-index: 1;
}

.profile-image-div::after{
    content: "";
    border: 2px solid rgb(94 234 212);
    width: 50%;
    height: 32%;
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
    z-index: 0;

}
.svg > svg{
    width: 20px;
    height: 20px;
    opacity: 0;
    animation: translate-from-Y 2s ease-in 4s forwards;
    
}

.svg > svg:hover{
    background-color: rgba(148, 163, 184,0.6);
    padding-top: 20%;
    width: 30px;
    height: 30px;
}
.detailDescription
{
    flex-basis: 50%;
    font-size: 2rem;
}

.col-grid{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(8,minmax(0,1fr));
    margin-top: 20%;
}
.experienceDate{
    text-align: justify;
    grid-column: span 2/span 2;
}
.experienceDescriptionAndTitle
{
    text-align: justify;
    flex-basis: 50%;
    grid-column: span 6/span 6;
   
}
.tools-ul-lists-style > li
{
    color:rgb(94 234 212);
    background-color:rgba(94, 234, 212, 0.2);
    border-radius: 1rem;
    padding: 0.55rem;
}

.cv-attachment
{
    width: max-content;
    margin-top: 1.5rem;
}

.flex-list{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.flex-wrap{flex-wrap: wrap;}

.relative{position: absolute;}


 /* Animations */

 @keyframes scale-in{

    0% {
        transform: translate(7rem);
        opacity: 0;
    }

    50%{
        transform: scale(1.5);
    }

    100%{
        transform: translate(0);
        opacity: 1;

    }

 }

 @keyframes scale-in-from-Y {

    from{
        transform:translateY(1em);
        opacity: 0;

    }
    to{
        opacity: 1;
    }
    
 }

 @keyframes fade-in {

    from{
        
        opacity: 0;

    }

    to{
        opacity: 1;
    }
    
 }

/* Media queries for responsive design */

@media (max-width: 42rem)
{
    .focus{
        display: none;
    }

    .profile-image-div{
        width: 11.5rem;
        height: 11.5rem;
        margin-top:2.5rem;
        min-width: 11.5rem;
        min-height: 11.5rem;
       
    }

    .profile-image-div::after{
        width: 30%;
        height: 32%;
        min-height: inherit;
        min-width: inherit;
    
    }

    .profile-image{
        max-width: 30%;
        max-height: 30%;
        min-width: inherit;
        min-height: inherit;
       
    }


    
    #breifDescription{
        line-height: 1.5;
        margin-top: 2rem;
    }

    .name-JobTitle
    {
        margin: 0 0.5rem;
    }

    .col-grid{
        display: block;
    }
    .experienceDate{
        margin-bottom: 0.65rem;
    }
    .experienceDescriptionAndTitle{
        text-align: left;
    }

   
}